#id_body{
    width: 80%;
    border-radius: 7px;
    border: 2px solid #E4E4E4;
    background-color: #FEFFEA;
}
body{
    background: #FFF;
}
.login_box{
    box-shadow: 0px 5px 7px 3px rgba(34, 36, 38, 0.15);
}
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child{
    border: none;
}
.ui.menu .item:before{
    width: 0px;
}
.color1{
    background-color:#00A896 !important;
}
.color1:hover{
   background-color:#02C39A !important;
}