/* Coolors Exported Palette - coolors.co/05668d-028090-00a896-02c39a-f0f3bd */

$color1: #05668d; //rgba(5, 102, 141, 100)
$color2: #028090; //rgba(2, 128, 144, 100)
$color3: #00a896; //rgba(0, 168, 150, 100)
$color4: #02c39a; //rgba(2, 195, 154, 100)
$color5: #f0f3bd; //rgba(240, 243, 189, 100)