{% extends "base.html" %}

{% block content %}
<div class="ui main text container">
  <div class="ui feed" ng-app="feedApp" ng-controller="feedCtrl">
    <div class="event" ng-repeat="feed in feeds">
      <div class="label">
        <img src="/static/images/elliot.jpg">
      </div>
      <div class="content">
        <div class="summary">
          <a>{{ user.first_name| title }} {{ user.last_name| title }}</a> :
          <div class="date">
            <span am-time-ago="feed.date"></span>
          </div>
        </div>
        <div class="extra text">
         {$ feed.body $}
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 5 Likes
          </a>
        </div>
      </div>
    </div>
  </div>
  <form method='post' action="{% url 'home:save-post' %}">
    {% csrf_token %}
    <div class="field">
      <textarea  id="id_body" name="body" rows="5"></textarea>
    </div>
    <button type="submit" class="ui green color1 labeled submit icon button">
    <i class="icon send"></i> Save
    </button>
  </form>
</div>
{% endblock content %}


{% block extra_javascript %}

    <script type="text/javascript" src="/static/angular/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
{% endblock extra_javascript %}
